<!DOCTYPE html>
<html><head>
	    <meta charset="utf-8">
    <title>RyBin的个人博客</title>

    <meta name="description" content="RyBin的个人博客，php个人学习博客">
    <meta name="keywords" content="RyBin的个人博客，php学习博客">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--Basic Styles-->
    <link href="<?php echo __ADMIN__;?>/style/bootstrap.css" rel="stylesheet">
    <link href="<?php echo __ADMIN__;?>/style/font-awesome.css" rel="stylesheet">
    <link href="<?php echo __ADMIN__;?>/style/weather-icons.css" rel="stylesheet">

    <!--Beyond styles-->
    <link id="beyond-link" href="<?php echo __ADMIN__;?>/style/beyond.css" rel="stylesheet" type="text/css">
    <link href="<?php echo __ADMIN__;?>/style/demo.css" rel="stylesheet">
    <link href="<?php echo __ADMIN__;?>/style/typicons.css" rel="stylesheet">
    <link href="<?php echo __ADMIN__;?>/style/animate.css" rel="stylesheet">
    
</head>
<body>
	<!-- 头部-->
    {include file="common/top"}
	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
			            <!-- Page Sidebar -->
            {include file="common/left"}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li>
                        <a href="#">系统</a>
                    </li>
                                        <li class="active">管理员管理</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<button type="button" tooltip="添加用户" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '{:url("admin/add")}'"> <i class="fa fa-plus"></i> Add
</button>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="flip-scroll">
                    <table class="table table-bordered table-hover">

                            <tr>
                                <td class="text-center">管理员名称</td>
                                <td class="text-center">状态</td>
                                <td class="text-center">创建时间</td>
                                <td class="text-center">角色</td>
                                <td></td>
                                <td class="text-center">操作</td>
                            </tr>

                        <tbody>
                                {volist name="list" id="vo"}
                                <tr>
                                    <td align="center">{$vo.username}</td>
                                    <td align="center">{$vo.status}</td>
                                    <td align="center">{$vo.create_time}</td>
                                    {volist name="role" id="v"}
                                    <td align="center">{if condition="$v.id eq $vo.role_id"}{$v.name}{/if}</td>
                                    {/volist}
                                    <td align="center">
                                        <a href="{:url('admin/edit',array('id'=>$vo['id']))}" class="btn btn-primary btn-sm shiny">
                                            <i class="fa fa-edit"></i> 编辑
                                        </a>
                                        <a href="#" onClick="warning('确实要删除吗', '{:url(\'admin/del\',array(\'id\'=>$vo[\'id\']))}')" class="btn btn-danger btn-sm shiny">
                                            <i class="fa fa-trash-o"></i> 删除
                                        </a>
                                    </td>
                                </tr>
                                {/volist}
                        </tbody>
                    </table>
                </div>
                <div style="text-align:right; margin-top:10px;">
                    {$list->render()}
                	                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

	    <!--Basic Scripts-->
    <script src="<?php echo __ADMIN__;?>/style/jquery_002.js"></script>
    <script src="<?php echo __ADMIN__;?>/style/bootstrap.js"></script>
    <script src="<?php echo __ADMIN__;?>/style/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="<?php echo __ADMIN__;?>/style/beyond.js"></script>
    


</body></html>