<!DOCTYPE html>
<html><head>
	    <meta charset="utf-8">
    <title>RyBin的个人博客</title>

    <meta name="description" content="RyBin的个人博客，php个人学习博客">
    <meta name="keywords" content="RyBin的个人博客，php学习博客">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--Basic Styles-->
                <link href="<?php  echo __ADMIN__;?>/style/bootstrap.css" rel="stylesheet">
                <link href="<?php  echo __ADMIN__;?>/style/font-awesome.css" rel="stylesheet">
                <link href="<?php  echo __ADMIN__;?>/style/weather-icons.css" rel="stylesheet">

                <!--Beyond styles-->
                <link id="beyond-link" href="<?php  echo __ADMIN__;?>/style/beyond.css" rel="stylesheet" type="text/css">
                <link href="<?php  echo __ADMIN__;?>/style/demo.css" rel="stylesheet">
                <link href="<?php  echo __ADMIN__;?>/style/typicons.css" rel="stylesheet">
                <link href="<?php  echo __ADMIN__;?>/style/animate.css" rel="stylesheet">

                </head>
                <body>
                {include file="common/top"}
                <div class="main-container container-fluid">
                    <div class="page-container">
                        <!-- Page Sidebar -->
                        {include file="common/left"}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li class="active">控制面板</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
				<div style="text-align:center; line-height:1000%; font-size:24px;">
               RyBin(庄瑞彬)的个人博客，php技术<br>
                <p style="color:#aaa;"></p></div>
                </div>
                

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

	    <!--Basic Scripts-->
    <script src="<?php  echo __ADMIN__;?>/style/jquery_002.js"></script>
    <script src="<?php  echo __ADMIN__;?>/style/bootstrap.js"></script>
    <script src="<?php  echo __ADMIN__;?>/style/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="<?php  echo __ADMIN__;?>/style/beyond.js"></script>
    


</body></html>